
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <title>Movie Night</title>
</head>
<body class="detail-body">
  <div class="detail-container">
     <%- include('../layout/header') %>
      <h1 class="detail-title detail-section"><%= movie.title %> (<%= movie.release_date %>)</h1>
    <div class="detail-image-container detail-section">
  <img src="<%= movie.poster %>" class="detail-image">
    </div>
    <div class="detail-rating detail-section">
      Rating <%= movie.vote_average %>
   </div>
   <div class="detail-overview"><%= movie.overview %>
   </div>


<div class="detail-add detail-section">
  <form action="/detail" method="POST">
    <input type="hidden" name="title" value="<%= movie.title %>">
    <input type="hidden" name="poster" value="<%= movie.poster %>">
    <input type="hidden" name="vote_average" value="<%= movie.vote_average %>">
    <input type="hidden" name="overview" value="<%= movie.overview %>">
    <input type="hidden" name="release_date" value="<%= movie.release_date %>">
    <input type="hidden" name="username" required  value="<%= movie.username %>">
    <input type="submit" class="detail-add-button" value="Add to Watchlist">
  </form>
</div>
<%- include('../layout/footer') %>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <sript src="detail.ejs"></sript>
 
</body>
</html>