<!-- header partial here -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/reset.css">
  <link rel="stylesheet" href="public/base.css">
  <link rel="stylesheet" href="public/layout.css">
  <link rel="stylesheet" href="public/modules.css">

<% for(let i=0; i < movieArray.length;i++) { %>
  <div class="movie-container">
  <div class="image-container">
    <!-- <img src="<%= movieArray[i].poster%>" class="images" alt=""> -->
    <img src="https://journals.openedition.org/sillagescritiques/docannexe/image/3718/img-2.jpg" alt="movie title">
  </div>
    <div class="movie-title">
      <%= movieArray[i].title %>
  </div>
  <div class= "movie-rating">
    <%= movieArray[i].rating %>
<!-- Add in author Name -remember that it is an array of authors which will require another for loop -->
  </div>
  <div class="movie-plot">
    <%= movieArray[i].plot %>
  </div>
  <div class="movie-actors">
    <%= movieArray[i].actors %>
  </div>
  <div class="movie-genre">
    <%= movieArray[i].genre %>
  </div>
  

<div class="movie-select">
  <form action="/detail" method="POST">
    <!-- <form action="/movies" method="POST"> -->
    <input type="hidden" name="title" value="<%= movieArray[i].title %>">
    <input type="hidden" name="rating" value="<%= movieArray[i].rating %>">
    <input type="hidden" name="plot" value="<%= movieArray[i].plot %>">
    <input type="hidden" name="actors" value="<%= movieArray[i].actors%>">
    <input type="hidden" name="genre" value="<%= movieArray[i].genre %>">
    <input type="submit" value="Add to Watchlist">
  </form>
</div>
</div>
<% } %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="server.js"></script>
  <sript src="detail.ejs"></sript>
</body>
</html>