<!DOCTYPE html>
<html lang="en">
<head>
  <title>Watch List</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
 <body class="watchlist-body">
  <%- include('../layout/header') %>
    <div class="watchlist-container">
     
    
      <!-- JS for reverse of movies and then run the for loop after array is reversed -->

      <% for(let movie of movies){ %>
      <h1 class="watchlist-title watchlist-section"><%= movie.title %> (<%= movie.release_date %>)</h1>
      <div class="watchlist-image-container watchlist-section">
        <img src="<%= movie.poster %>" class="watchlist-image">
      </div>
      <div class="watchlist-rating watchlist-section">
        Rating: 73%
      </div>
      
  <div class="watchlist-add watchlist-section">
    <form action="/watchlist" method="POST">
      <input type="hidden" name="title" value="<%= movie.title %>">
      <input type="hidden" name="poster" value="<%= movie.poster %>">
      <input type="hidden" name="vote_average" value="<%= movie.vote_average %>">
      <input type="hidden" name="release_date" value="<%= movie.release_date %>">
      <input type="hidden" name="username" required  value="<%= movie.username %>">
      <input type="submit" class="watchlist-delete-button" value="Delete From Watchlist">
    </form>
  </div>
  </div>
  <% } %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <sript src="watchlist.ejs"></sript>

</body>
</html>
