<!DOCTYPE html>
<html lang="en">
<head>
  <!--head from partial goes here-->
  <title>Watch List</title>

  <link rel="stylesheet" href="styles/reset.css">
  <!-- <link rel="stylesheet" href="styles/base.css"> -->
</head>
<body>
  <main>
    
    

    <% for(let movie of movies){ %>

      <div>
        <a href="/detail">
          <img src="<%= movie.poster %>"> 
        </a>
        <!-- <h2> <%= movie.title %> </h2> -->
        <p> <%= movie.release_date %> </p> 
        <p> <%= movie.vote_average %> </p> 
        <!-- <p> <%= movie.overview %> </p>  -->
      </div>
  <% } %>
  

  </main>
</body>
</html>